//- banniere Logo
mj-section(background-color='#eff1f5' padding-top='20px' padding-bottom='5px' padding-left='0px' padding-right='0px')
    mj-group(width="95%")  
        mj-column(width='50%' padding='10px')
            mj-image(align='left' padding='0' border='none' width='256px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb2771d0c8d6691c4e4e7c.png' alt='Logo Ecosup Assurance')/
        mj-column(width='50%' padding='10px')
            mj-image(align='right' padding='0' border='none' width='150px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb277b6d8c909673de86c1.png' alt='Logo de la Newsletter')/ 
//- Reseaux sociaux       
mj-section(background-color='#eff1f5' padding='0')
    mj-column(width='95%')
        mj-social(align='right' padding-top='0' padding-bottom='0' padding-left='10px' padding-right='10px' icon-size='25px'  mode='horizontal')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d604fd0d41f3120a8cdf5.png' href='https://www.facebook.com/EcosupAssurance/' alt='icon Facebook')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d605a373b24d832a3970d.png' href='https://www.instagram.com/ecosup.campus/' alt='icon Instagram')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d6047d0d41f3120a8cdec.png' href='https://linkedin.com/company/ecosup-campus' alt='icon Linkedin')     
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d60657236a3846ef846ba.png' href='https://www.youtube.com/@EcoSupAssurance' alt='icon Youtube')     
//- Numéro Newsletter
mj-section(background-color='#eff1f5' padding='0')
    mj-column(width='95%')
        mj-text(padding='5px 10px' align='left' font-size='16px' font-weight='300' color='#2D3748') #[span(style='font-weight:700;text-transform:uppercase') News Ecosup Assurance] | Décembre 2024  