mjml
    mj-head
        mj-title Lettre Ecosup Assurance - Entreprise Décembre 2024
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
            //-font
            mj-class(name="T+2" font-family="Arial, Helvetica, sans-serif" font-size="14px" font-weight="900" line-height="18px")
            mj-class(name="T+1" font-family="Arial, Helvetica, sans-serif" font-size="20px" font-weight="700" line-height="24px")
            mj-class(name="T+0" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-weight="400" line-height="20px")
            //-color
            mj-class(name="cA+2" color="#944694")
            mj-class(name="cA+1" color="#684092")
            mj-class(name="cT-0" color="#2D3748")
            mj-class(name="bgcG" background-color="#eff1f5")
        mj-breakpoint(width='480px')/
        mj-style. 
            @media (max-width: 480px){
                .logo{
                    display: none !important;
                }
            }
    mj-body(background-color='#fcfcfc')
        //- block content
        block content
        //- block sponsors
        block sponsors
            include ../includes/_sponsors
        //- block hero
        block hero
            include ../includes/_hero
        //- block dossier
            block edito
            include ../includes/_edito
            mj-section(padding="0")
            mj-column
                mj-spacer(height="30px")
        //-block article étude Igensia
        block etudeIgensia
            include ../includes/entreprise/_etudeIgensia
        //- block Sofinco
            block Sofinco
            include ../includes/_sofinco
            mj-section(padding="0")
            mj-column
                mj-spacer(height="30px")
        //- block master ESA
            block masterESA
            include ../includes/_masterEsa
            mj-section(padding="0")
            mj-column
                mj-spacer(height="30px")
        //- block Handicap
            block handicap
            include ../includes/_handicap
            mj-section(padding="0")
            mj-column
                mj-spacer(height="30px")
        //- block cvbook
        block cvbook
            include ../includes/entreprise/_cvbook
            mj-section(padding="0")
            mj-column
                mj-spacer(height="30px")
        //- block agenda
        block agenda 
            include ../includes/entreprise/_agenda
            mj-section(padding="0")
            mj-column
                mj-spacer(height="30px")
        //-block partenaires
        block partenaires
            include ../includes/_partenaires
        //- block footer
        block footer
            include ../includes/_footer