//- Dates rentrée classes
mj-section(background-color='#eff1f5' border-radius="0 0 25px 25px")
    mj-column(width='30%')
        mj-image(padding='0' border='none' width="480px" src='https://i.ibb.co/3yv75mz/jpo14122024.jpg' alt='Affiche de la Journée Portes Ouvertes du 14 décembre 2024 de 9h30 à 13h')/
        mj-spacer(height="15px")
    mj-column(width='70%')
        mj-text(padding='0 25px' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase' letter-spacing='1px') À vos Agendas
        mj-text(padding='0 25px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') #[span(style="color:#8b5fb9") Ecosup :] Journée Portes Ouvertes
        mj-social(padding='0 25px' align="left" font-size="20px" line-height='24px' font-weight="500" icon-size="22px" inner-padding="0px 10px 0px 0px" color="#BA4995" mode="vertical")
            mj-social-element(src="https://i.ibb.co/Msc2sh7/calendrier.png" alt="icon calendrier") #[span(style="color:#BA4995;") Samedi 14 décembre de 9h30 à 13h]
        mj-text(padding='5px 25px' font-size="16px" line-height='20px' font-weight="400" color="#45546e") L'occasion de découvrir les locaux, de #[span(style="font-weight:700;color:#2D3748") rencontrer l'équipe pédagogique], de visiter les installations techniques, de #[span(style="font-weight:700;color:#2D3748") discuter avec des étudiants] et de commencer à vous familiariser avec notre établissement.