mj-section(background-color='#EDF2F7')
    mj-column(width="30%")
        mj-image(padding='10px 0px' fluid-on-mobile="true" width="480px" border='none' src='https://i.ibb.co/z26M6dH/112024-A2-Assurance.jpg' alt='BNI est une association dynamique d\'échange d\'expériences entre entrepreneurs')/
    mj-column(width='70%')
        mj-text(padding="0px 25px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Partenariat entreprise
        mj-text(padding="0px 25px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Business Network International (BNI) : un atout majeur pour EcoSup Campus!
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') Notre école est fière de faire partie du #[span(style="font-weight:700") groupe BNI Culture Business]. Avec plus de 20 000 membres en France, Belgique et Luxembourg, #[span(style="font-weight:700") BNI] est un réseau d'affaires incontournable. Cette adhésion nous offre une opportunité unique de :
        mj-text(padding-top="0" padding-bottom="0" padding-right="25px" padding-left="50px" font-size='16px' line-height='20px' font-weight='400') #[span(style="font-weight:700") • Rayonner localement :] Rencontrer de nombreux acteurs économiques de notre région.
        mj-text(padding-top="0" padding-bottom="0" padding-right="25px" padding-left="50px" font-size='16px' line-height='20px' font-weight='400') #[span(style="font-weight:700") • Développer des partenariats solides :] Favoriser les échanges et les collaborations avec des entreprises.
        mj-text(padding-top="0" padding-bottom="5px" padding-right="25px" padding-left="50px" font-size='16px' line-height='20px' font-weight='400') #[span(style="font-weight:700") • Ouvrir de nouvelles perspectives à nos étudiants :] Les mettre en relation avec de futurs employeurs.