mj-section(background-color='#EDF2F7' padding="20px 17px")
    mj-column(width="40%" padding="8px")
        mj-image(padding='0px' width="480px" border='none' src='https://i.ibb.co/f1fmywm/antoine-Hochard.jpg' alt='Antoine Hochard, conseiller bancaire professionnel à la Caisse d\'Epargne')/
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding="0px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Découverte métier
        mj-text(padding="0px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') La Caisse d'Épargne rencontre nos jeunes Bachelors !
        mj-text(padding="5px 0" font-size='16px' line-height='20px' font-weight='400') Dans le cadre de leur cursus Bachelor Assurance-Banque et du module sur les financements des professionnels, nos élèves ont eu la chance d'assister à une conférence sur ce métier passionnant par deux professionnels reconnus : Sophie Vilcot, Directrice de Clientèle Professionnels Caisse d'Epargne Haut de France et Antoine Hochard. C'est également ça étudier chez EcoSup Campus : rencontrer les acteurs du marché !