
//- Edito Rentrée2024
mj-section(background-color='#E7ECf2' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/KKZrRdB/news-Bandeau122024.jpg' alt='Christian Annaloro, responsable pédagogique d\'Ecosup Assurance, vous souhaite de joyeuses fêtes de fin d\'année')/
mj-section(background-color='#E7ECf2' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' mj-class="T+2 cA+2" text-transform='uppercase') Édito
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T+0 cT-0" font-style='italic') Chers élèves, Chers parents, Chers partenaires... 
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T+0 cT-0" font-style='italic') L'année touche à sa fin, et quel chemin nous avons parcouru ensemble ! Remplie de défis mais aussi de #[span(style="font-weight:700;color:#2D3748;") belles réussites], cette année aura été riche en émotions, en projets, en réussites et en partenariats !
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T+0 cT-0" font-style='italic') Je me joins à l'ensemble des #[span(style="font-weight:700;color:#2D3748;") équipes d'EcoSup Campus] afin de vous remercier pour votre confiance et votre fidélité. Grâce à vous, nous avons pu #[span(style="font-weight:700;color:#2D3748") accompagner nos étudiants] dans de nouvelles entreprises, créer de nouvelles alliances riches et fructueuses, construire un cursus solide offrant de belles opportunités pour l'avenir de nos jeunes... et tant d'autres beaux succès. Janvier nous permettra de faire une édition spéciale sur le bilan de l'année passée.
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T+0 cT-0" font-style='italic') Alors que nous nous apprêtons à tourner la page 2024, #[span(style="font-weight:700;color:#2D3748;") nous regardons vers l'avenir avec optimisme]. 2025 s'annonce pleine de promesses et nous avons hâte de partager, encore, de nouveaux projets avec vous...
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T+0 cT-0" font-style='italic') En attendant, toute l'équipe d'#[span(style="font-weight:700;color:#2D3748;") EcoSup Campus et moi-même vous souhaitons de joyeuses fêtes de fin d'année], entourés de vos proches. Que cette nouvelle année vous apporte santé, bonheur et réussite !
            mj-text(padding-top='5px' padding-bottom='5px' mj-class="T+0 cT-0" font-style='italic') A très vite,