//- Etude apprentissage
mj-section(background-color='#EDF2F7' padding-left="17px" padding-right="17px")
    mj-column(width='30%' padding="8px")
        mj-image(padding='0' fluid-on-mobile="true" border='none' width='480px' src='https://i.ibb.co/CmV9Byr/112024-A12-Assurance.jpg' alt='De plus en plus de jeunes ont recours à l\’apprentissage pour se former.')/
    mj-column(width='70%' padding="8px")
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Apprentissage
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Baromètre annuel 2024 de l'alternance
        mj-text(padding='5px 0' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") Le #[span(style="font-weight:700") Groupe IGENSIA Education] dévoile les résultats de son #[span(style="font-weight:700") baromètre annuel 2024], révélant une tendance positive en faveur de l'alternance en France.
        mj-text(padding='5px 0' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") Réalisé en partenariat avec #[span(style="font-weight:700") Angie / Opinion Data Intelligence], ce baromètre repose sur une étude d'opinion menée auprès de 1 528 répondants représentatifs de la population française.
        mj-spacer(height="10px")
        mj-text(padding="5px 0" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://ecosup-assurance.fr/wp-content/uploads/2024/10/francaisAlternanceBarometreIgensia.pdf' style='color:#BA4995;font-size:16px;line-weight:20px;font-weight:400' target='_blank') À télécharger...]