mj-section(background-color='#EDF2F7' padding="20px 17px")
    mj-column(width="40%" padding="8px")
        mj-image(padding='0' width="480px" border='none' src='https://i.ibb.co/kGQMzzr/logoLOSC.jpg' alt='logo du Club de football le LOSC Lille')/
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding="0px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Échanges
        mj-text(padding="0px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Un atelier nutrition pour les jeunes Dogues, à ÉcoSup Campus !
        mj-text(padding="5px 0" font-size='16px' line-height='20px' font-weight='400') les catégories Intégration et Avenir du centre de formation du LOSC se sont rendues dans les locaux d'Écosup à Tourcoing pour prendre part à un atelier culinaire dans le cadre de leur formation « Gestion de la performance et de la carrière du sportif de haut niveau » mise en place par le LOSC Formation.
        mj-text(padding="5px 0" font-size='16px' line-height='20px' font-weight="400") Accueillis par la direction de l'école Écosup, les Dogues ont tout de suite enfilé leur toque et tablier. Sous la supervision du chef cuisiner de l'établissement scolaire et de Pierre Mastain, nutritionniste au LOSC, ils ont dû imaginer un menu répondant aux besoins d'un footballeur de haut niveau à quelques heures d'un match.