mj-section(background-color='#EDF2F7' padding="20px 17px")
    mj-column(width="40%" padding="8px")
        mj-image(padding='0' width="480px" border='none' src='https://i.ibb.co/kGQMzzr/logoLOSC.jpg' alt='logo du Club de football le LOSC Lille')/
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding="0px" align='left' mj-class="T+2 cA+2" text-transform='uppercase') Échanges
        mj-text(padding="0px" align='left' mj-class='T+1 cA+1') Un atelier nutrition pour les jeunes Dogues, à ÉcoSup Campus !
        mj-text(padding="5px 0" mj-class="T+0 cT-0") les #[span(style="font-weight:700;color:#2D3748;") catégories Intégration et Avenir du centre de formation du LOSC] se sont rendues dans les locaux d'#[span(style="font-weight:700;color:#2D3748;") Écosup Campus] à Tourcoing pour prendre part à un #[span(style="font-weight:700;color:#2D3748;") atelier culinaire] dans le cadre de leur formation « Gestion de la performance et de la carrière du sportif de haut niveau » mise en place par le #[span(style="font-weight:700;color:#2D3748;") LOSC Formation].
        mj-image(padding="5px 0" border="none" fluid-on-mobile='true' width="600px" src="https://i.ibb.co/jgVCTqh/imglarge-LOSC122024.jpg" alt="L'ensemble des personnes (joueurs, staffs, étudiants, enseignants..) qui ont participé à cette opération festive et gastronomique")/
        mj-text(padding="5px 0" mj-class="T+0 cT-0") Accueillis par la direction de l'#[span(style="font-weight:700;color:#2D3748;") école Écosup], les #[span(style="font-weight:700;color:#2D3748;") Dogues] ont tout de suite enfilé leur toque et tablier. Sous la supervision du chef cuisiner de l'établissement scolaire et de #[span(style="font-weight:700;color:#2D3748;") Pierre Mastain], nutritionniste au LOSC, ils ont dû imaginer un menu répondant aux besoins d'un footballeur de haut niveau à quelques heures d'un match.
        mj-spacer(height="10px")
        mj-text(padding="5px 0" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://urls.fr/2o9a_2' style='color:#BA4995;font-size:16px;line-weight:20px;font-weight:700' target='_blank') Lire la suite...]