
//- Edito Rentrée2024
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/517Cws3/video-Bandeau102024.gif' alt='l\'univers de l\'assurance avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Bonjour à tous,
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") #[span(style="font-weight:700") Le mot d'ordre de cette rentrée 2024 ? Le partenariat !] Cette nouvelle année sera placée sous le signe de la synergie et de la collaboration. Notre ambition est claire : faire rayonner EcoSup Campus à l'échelle régionale.
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Pour concrétiser cette ambition, nous multiplions les initiatives pour renforcer nos liens avec les entreprises et les acteurs de l'emploi de notre région. Vous découvrirez dans cette newsletter les fruits de nos efforts en 2024, et nous sommes convaincus que de nouvelles réussites nous attendent.
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") #[span(style="font-weight:700;") Entreprises et acteurs économiques de la région, votre soutien est précieux !] Ensemble, transformons nos ambitions en réalité. N'hésitez pas à nous contacter, nous sommes à votre écoute pour construire les succès de demain.
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") À très bientôt !