//- Interviews IA
mj-section(background-color='#ffffff' padding="20px 17px")
    mj-column(width='40%' padding="8px")
        mj-image(padding='0' border='none' width='480px' src='https://i.ibb.co/m9c6NqR/nathalie-Dore.jpg' alt='Nathalie DORÉ, directrice Impact et Innovation du bancassureur BNP Paribas Cardif')/
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding='0' align='left' mj-class="T+2 cA+2" text-transform='uppercase') Nouveaux enjeux
        mj-text(padding='0' align='left' mj-class="T+1 cA+1") La place de l'IA dans la Banque Assurance
        mj-text(padding='5px 0' mj-class="T+0 cT-0") #[span(style="font-weight:700;color:#2D3748") INNOVATION ASSURANCE - Next Content], société d'études spécialisée dans l'analyse des comportements de consommation sur Internet, des nouvelles pratiques numériques et des stratégies digitales des entreprises, nous livre les interviews fascinantes de #[span(style="font-weight:700;color:#2D3748;") Nathalie Doré], Directrice Impact et Innovation du bancasssureur BNP Paribas Cardif et de #[span(style="font-weight:700;color:#2D3748;") Benoît Beaulieu], Directeur Cybersécurité du spécialiste de l'assurance cyber, sur les #[span(style="font-weight:700;color:#2D3748;") enjeux de l'IA] dans le #[span(style="font-weight:700;color:#2D3748;") secteur de la Banque-Assurance]... à découvrir !
        mj-spacer(height="10px")
        mj-text(padding="5px 0" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://ecosup-assurance.fr/place-ia-banque-assurance' style='color:#BA4995;font-size:16px;line-weight:20px;font-weight:700;' target='_blank') Lire la suite...]